$global_main_color: rgba(55,127,239,1);

$global_menu_bg_color:#272F4E;
$global_subMenu_bg_color:#1D2542;
$global_menu_hover_color: rgba(55,127,239,.5);
$global_menu_active_color: $global_main_color;
$global_menu_text_color: rgba(255,255,255,.5);
$global_menu_hover_text_color: #fff;
$global_menu_active_text_color:#fff;

$global_sidebar_width: 192px;

$global_header_container_height: 56px;
